.navbar .navbar-nav .nav-item .nav-link
{
    color: rgb(23, 23, 232);
    font-size: 25px;
}

.navbar ,.navbar-brand
{
    color: rgb(13, 13, 131);
    font-size: 35px;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: rgb(7, 7, 68);
}